@charset "UTF-8";

/* 共通部分
--------------------------------------------------------------------------------------- */
html {
    font-size: 62.5%;
    font-family: "游ゴシック体", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

body {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    width: 100%;
    line-height: 1.5;
    overflow-x: hidden;
}

.wrapper {
    margin: 0 auto;
    text-align: left;
    width: 1024px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.work,.service,.news {
    background-color: beige;
}

.page-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

.page-top a {
    text-decoration: none;
    display: block;
}

.page-top a:hover {
    opacity: 0.7;
}

.top-btn {
    width: 60px;
    height: 60px;
}


/* header
------------------------------------------------------------------------------------------------*/
.gnav {
    display: flex;
    -webkit-display: flex;
    background-color: #699261;
    height: 70px;
    align-items: center;
    -webkit-align-items: center;
    list-style: none;
}

.gnav h1 {
    margin-right: auto;
    color: #222;
    font-size: 4rem;
    height: 60px;
}

.gnav a {
    text-decoration: none;
    font-size: 1.6rem;
    padding-left: 15px;
    padding-right: 15px;
    color: #333;
}

.gnav a:hover {
    color: #3B5998;
}

.gnav ul {
    display: flex;
    -webkit-display: flex;
    display: -ms-flexbox;
    list-style: none;
}

.gnav li {
    height: 19px;
}

.gnav a {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.gnav a::after {
    position: absolute;
    left: 0;
    bottom: 2px;
    content: '';
    width: 100%;
    height: 2px;
    background: #3B5998;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.gnav a:hover::after {
    bottom: -4px;
    opacity: 1;
    visibility: visible;
}


/*ハンバーガーメニュー
---------------------------------------------------------------------------------*/
.humburger {
background-color: beige;
position: absolute;
top: 15px;
right: 15px;
width: 40px;
height: 40px;
z-index: 2;
}


/*背景
-----------------------------------------------------------------------------------*/
.humburger span {
  width: 30px;
  height: 1.5px;
  background-color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.humburger span:nth-of-type(1) {
  transform: translate(-50%, -10px);
}

.humburger span:nth-of-type(3) {
  transform: translate(-50%, 9px);
}


/*☓ボタン
-----------------------------------------------------------------------------------------*/
.humburger.active span:nth-of-type(1) {
transform: rotate(45deg) translate(-50%, 0);
transform-origin: 0% 50%;
}

.humburger.active span:nth-of-type(2) {
    opacity: 0;
}

.humburger.active span:nth-of-type(3) {
transform: rotate(-45deg) translate(-50%, 0);
transform-origin: 0% 50%;
}


/*HOME
-------------------------------------------------------------------------------------------------------------*/
.home {
    position: relative;
}

.home p {
    position: absolute;
    font-size: 4rem;
    color: #FFF;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.home-title h2 {
    text-align: center;
    font-size: 4rem;
}

.home-title p {
    font-size: 2rem;
    margin: 0 auto;
    width: 500px;
    padding-bottom: 24px;
}


/*SERVICE
---------------------------------------------------------------------------------------------------------*/
.service {
    display: flex;
    -webkit-display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.service p {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.service h3 {
    color: #007735;
}

.service-content {
    width: 33.3%;
}

.service-content p {
text-align: left;
}

.service-content a {
    font-size: 1.4rem;
    text-decoration: none;
    color: #699261;
}

.service-content a:hover {
    color: #3B5998;
}

.service-img {
    width: 300px;
    padding-top: 30px;
    margin: 0 auto;
}


/*WORK
-------------------------------------------------------------------------------------------*/
.work {
    display: flex;
    -webkit-display: flex;
    display: -ms-flexbox;
    justify-content: center;
}

.work h4 {
    font-size: 1.3rem;
    color: #007735;
}

.work-content {
    margin: 20px;
}

.work-content a {
    font-size: 1.4rem;
    text-decoration: none;
    color: #699261;
}

.work-content a:hover {
    color: #3B5998;
}

.work-content p {
    font-size: 1.3rem;
}


.work-img {
    border: 1px solid #ddd;
    background-color: white;
    padding: 50px;
    margin-top: 10px;
}

/*work　ボタン　ホバー文字の色が変わらない-----------------------------------*/
.work-button {
    display: inline-block;
    text-align: center;
    border: 1.3px solid #699261;
    background-color: #FFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.29);
    padding: 20px 20px 16px 25px;
    width: 130px;
}

.work-button:hover {
    background-color: #699261;
    color: #FFF;
    fill: #FFF;
}

.work__arrow-svg {
    height: 12px;
    padding-left: 13px;
}

.button-bg a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
}

.button-bg {
    text-align: center;
    background-color: beige;
    padding-bottom: 50px;
}

/*NEWS
----------------------------------------------------------------------------------------*/
.news {
    display: flex;
    -webkit-display: flex;
    justify-content: space-around;
}

.news-img {
    margin-top: 20px;
    width: 250px;
}

.news-text h5 {
    display: inline-block;
    font-size: 1.4rem;
    border-right: 1px solid #ddd;
    padding-right: 8px;
    height: 18px;
}

.news-text span {
    font-size: 1.3rem;
    padding-left: 5px;
    color: #666;
}

.news-text a {
    color: #3872b8;
    padding-left: 10px;
    font-size: 1.2rem;
}

.news-text a:hover {
    color: red;
}

.news-text p {
    font-size: 1.3rem;
    color: #333;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.news-button {
    display: inline-block;
    text-align: center;
    background-color: #FFF;
    border: 1.3px solid #699261;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.29);
    padding: 20px 20px 16px 25px;
    width: 130px;
}

.news-button:hover {
    background-color: #699261;
    color: #FFF;
    fill: #FFF;
}

.news__arrow-svg {
    height: 12px;
    padding-left: 13px;
}

.news-bg a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
}

.news-bg {
    text-align: center;
    background-color: beige;
    padding-bottom: 50px;
}


/*COMPANY
---------------------------------------------------------------------------------------------*/
.company {
    margin-top: 60px;
}

.company a {
    text-decoration: none;
    color: #FFF;

}

.company a:hover {
    opacity: 0.7;
}

.company-img {
    position: relative;
    float:  left;
    line-height: 0;
    width: 50%;
}

.company-img p {
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    color: #FFF;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.company img:hover {
  opacity: 0.8;
  transition-duration: 0.3s;
}

.cb {
    clear: both;
}


/*CONTACT
------------------------------------------------------------------------------------------------*/
.contact h2 {
    margin-top: 80px;
}

.contact p {
    font-size: 1.4rem;
}

.contact-form {
    margin-top: 25px;
    padding-bottom: 80px;
    text-align: center;
}

.contact a {
    font-weight: bold;
    color: #333;
    border: 1.4px solid #699261;
    border-radius: 30px;
    text-decoration: none;
    padding: 15px 80px 15px 80px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.29);
}

.contact-form a {
    font-size: 1.3rem;
}

.contact-form a:hover {
    color: #FFF;
    background-color: #699261;
}


/*FOOTER
------------------------------------------------------------------------------------------------*/
.footer-bg {
    height: 350px;
}

.footer-img {
    position: relative;
    font-size: 0;
    line-height: 0;
}

.footer-img h1 {
    position: absolute;
    font-size: 4rem;
    top: 60px;
    left: 20px;
}

.footer-img .tel {
    position: absolute;
    font-size: 1.4rem;
    top: 150px;
    left: 20px;
}

.footer-img .address {
    position: absolute;
    font-size: 1.4rem;
    top: 170px;
    left: 20px;
}

.footer-img .facebook {
    position: absolute;
    width: 20px;
    top: 200px;
    left: 20px;
}

.footer-img .instagram {
    position: absolute;
    width: 20px;
    top: 200px;
    left: 55px;
}

.footer-img .twitter {
    position: absolute;
    width: 20px;
    top: 200px;
    left: 95px;
}

.footer-img .copyright {
    position: absolute;
    font-size: 1.3rem;
    top: 335px;
    left: 20px;
}


/*----------------------------------------------------------------*/
/*レスポンシブ　メディアクエリー　(1024px～320px)
------------------------------------------------------------------*/
@media screen and (min-width: 1025px) {

.humburger {
    display: none;
}
}
/*----------------------------------------------------------------*/
@media screen and (max-width: 1024px) and (min-width: 1000px) {

.humburger {
    display: none;
}

.service-content p {
    font-size: 1.4rem;
}

.service-content a {
    font-size: 1.4rem;
}
}

@media screen and (max-width: 999px) and (min-width: 768px) {
/*---------------------------------------------------------------*/
.humburger {
    display: none;
}

.home p {
    font-size: 3rem;
}

.home-title p {
    font-size: 1.6rem;
    width: 400px;
    margin-bottom: 20px;
}

.service {
    flex-wrap: wrap;
}

.service-content {
    width: 320px;
    margin: 0 auto;
}

.service-content h3 {
    font-size: 1.5rem;
}

.work {
    flex-wrap: wrap;
}

.work-content p {
    text-align: center;
    font-size: 1.5rem;
}

.work-content h4 {
    font-size: 1.5rem;
    text-align: center;
}

.work-img {
   box-sizing: border-box;
   width: 320px;
}

.news {
    text-align: center;
}

.news-text {
    box-sizing: border-box;
    margin: 0 auto;
}

.news-text h5 {
    font-size: 1.3rem;
}

.news-text p {
    text-align: left;
    margin: 0 auto;
    width: 200px;
    margin-bottom: 20px;
}

.news-img {
    height: auto;
    width: 230px;
}

.contact-text p {
    font-size: 1.6rem;
    width: 768px;
    text-align: center;
}
}
/*---------------------------------------------------------------*/
@media screen and (max-width: 767px) and (min-width: 480px) {

.home p {
    font-size: 1.9rem;
}

.home-title p {
    font-size: 1.6rem;
    width: 400px;
    margin-bottom: 20px;
}

.service {
    flex-wrap: wrap;
}

.service-content {
    width: 310px;
    margin: 0 auto;
}

.work {
    flex-wrap: wrap;
}

.work-content p {
    text-align: center;
    font-size: 1.5rem;
}

.work-content h4 {
    font-size: 1.5rem;
    text-align: center;
}

.work-img {
   box-sizing: border-box;
   width: 250px;
}

.news {
    text-align: center;
}

.news-text {
    box-sizing: border-box;
    margin: 0 auto;
    width: 140px;
}

.news-text h5 {
    font-size: 1.3rem;
}

.news-text p {
    text-align: left;
    width: 140px;
    margin-bottom: 20px;
}

.news-img {
    height: auto;
    width: 200px;
}

.company-img {
   display: flex;
   width: 100%;
}

.company {
    display: flex;
    flex-direction: column;
}

.contact-text p {
    font-size: 1.3rem;
    width: 480px;
    text-align: center;
}


/*ドロワーメニュー--------------*/
#drow {
    position: absolute;
    top: 0;
    right: -200px;
    width: 250px;
    height: 100%;
    padding: 70px 0 0 0;
    opacity: 0;
    transition: 0.4s;
    visibility: hidden;
    background-color: #ddd;
    text-align: center;
    z-index: 2;
}

#drow.active {
    opacity: 0.9;
    visibility: visible;
    right: 0;
}

.gnav a {
    font-size: 2rem;
    color: black;
}

.gnav ul {
    flex-direction: column;
    margin: 0 auto;
}

.gnav li {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 250px;
    padding-bottom: 49px;
}

.gnav li+li {
  border-top: 0;
  border-bottom: 2px solid #fff;
}

.gnav a {
    padding-top: 20px;
}
}
/*---------------------------------------------------------------*/
@media screen and (max-width: 479px) and (min-width: 320px) {


.home p {
    font-size: 1.3rem;
}

.home-title p {
    font-size: 1.6rem;
    width: 250px;
    margin-bottom: 20px;
}

.service {
    flex-direction: column;
}

.service h3 {
    font-size: 1.5rem;
}

.service-content {
    width: 300px;
    margin: 0 auto;
}

.service-content p {
    font-size: 1.4rem;
    width: 280px;
}

.work {
    flex-direction: column;
}

.work-button {
    width: 130px;
}

.work-icon {
    margin-left: 8px;
}

.work-content p {
    text-align: center;
}

.work-content h4 {
    font-size: 1.5rem;
    text-align: center;
}

.work-img {
   margin: 0 60px 0 60px;
}

.news {
    flex-direction: column;
    text-align: center;
}

.news-text p {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.contact h2 {
    margin-top: 80px;
}

.contact p {
    font-size: 1.5rem;
    width: 270px;
}

.company-img {
   display: flex;
   width: 100%;
}

.company {
    display: flex;
    flex-direction: column;
}

/*スクロールトップ　ボタン----------------------*/
.top-btn {
    width: 50px;
    height: 50px;
}

/*ドロワーメニュー-----------------------------*/
#drow {
    position: absolute;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    padding: 70px 0 0 0;
    opacity: 0;
    transition: 0.4s;
    visibility: hidden;
    background-color: #ddd;
    text-align: center;
    z-index: 2;
}

#drow.active {
    opacity: 0.9;
    visibility: visible;
    right: 0;
}

.gnav a {
    font-size: 2rem;
    color: black;
}

.gnav ul {
    flex-direction: column;
    margin: 0 auto;
}

.gnav li {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 250px;
    padding-bottom: 49px;
}

.gnav li+li {
  border-top: 0;
  border-bottom: 2px solid #fff;
}

.gnav a {
    padding-top: 20px;
}
}
/*---------------------------------------------------------------*/
